<div class="container mt-5 mb-5">
  <h1 class="text-center">Orçamento</h1>
  <form action="#">
    <div class="row">
      <div class="col-lg-12 mt-2 mb-2">
        <label class="font-weight-bold text-small" for="firstname">Nome <span class="text-primary ml-1">*</span></label>
        <input class="form-control" id="firstname" type="text" placeholder="Insira seu Nome" required="" />
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <label class="font-weight-bold text-small" for="lastname">Sobrenome <span class="text-primary ml-1">*</span></label>
        <input class="form-control" id="lastname" type="text" placeholder="Insira seu Sobrenome" required="" />
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <label class="font-weight-bold text-small" for="email">Email <span class="text-primary ml-1">*</span></label>
        <input class="form-control" id="email" type="email" placeholder="Insira seu Email" required="" />
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <label class="font-weight-bold text-small" for="phone">Telefone <small class="small text-gray"> Opcional </small></label>
        <input class="form-control" id="phone" type="tel" placeholder="Insira seu Telefone" />
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <label class="font-weight-bold text-small" for="projecttype">CEP <span class="text-primary ml-1">*</span></label>
        <input class="form-control" id="projecttype" type="text" placeholder="Insira o Numero de CEP" required="" />
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <label class="font-weight-bold text-small" for="budget">Modelo <span class="text-primary ml-1">*</span></label>
        <input class="form-control" id="budget" type="text" placeholder="Insira o Modelo do Aparelho" required="" /><small class="form-text text-muted"><span class="text-dark"></span></small>
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <label class="font-weight-bold text-small" for="timeframe">Defeito <span class="text-primary ml-1">*</span></label>
        <input class="form-control" id="timeframe" type="text" placeholder="Insira o Defeito" required="" />
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <label class="font-weight-bold text-small" for="projectdetail">Detalhes do Defeito <span class="text-primary ml-1">*</span></label>
        <textarea class="form-control" id="projectdetail" rows="5" placeholder="Descreva a Causa do Defeito" required=""></textarea>
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <a routerLink="" class="btn btn-primary">Concluir <i class="bi bi-long-arrow-right"></i></a>
      </div>
    </div>
</form>

</div>
