<section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
          <img src="assets/img/celular-assistencia-tecnica.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
          <h3>Equipamentos de Primeira Linha para a melhor Qualidade</h3>
          <p class="fst-italic">
            Presando o Melhor atendimento e serviço aos Clientes.
          </p>
          <ul>
            <li><i class="fst-normal"></i>Somos a PH Informatica, uma autorizada Apple, especializada em consertos de Iphone. 
              Fundada em 2016 e localizada em Campinas-SP, nossa equipe é formada por grandes profissionais especializados, que são frequentemente treinados para se manterem atualizados. 
              Realizamos consertos de baixa, média e alta complexidade, buscando sempre oferecer serviços de alta qualidade, confiança e agilidade aos nossos clientes, além de preços justos e garantia de peças originais.
              Em nossa loja, você também pode encontrar uma grande variedade de acessórios em geral para o seu Iphone.
              Nosso foco é ser o melhor no que fazemos, sempre garantir a satisfação dos nossos clientes e ser reconhecido no mercado pelo nosso alto nível de profissionalismo e qualidade.
              Entre em contato conosco e conheça o nosso trabalho, será um prazer atende-lo!
              </li>
           </ul>
      </div>
    </div>

    </div>
</section><!-- End About Section -->
